@media only screen and (max-width: 720px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    canvas {
        width: 100%;
    }
    .key-box span {
        transform: scale(0.5);
    }
}

@media only screen and (max-height: 480px) {
    .canvas_aera {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .mobileButtos {
        position: absolute;
        bottom: 0;
        z-index: 9;
        width: 100%;
    }
    canvas {
        height: 100vh;
    }
    .key-box {
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .key-box span {
        width: 120px;
        transform: scale(0.8);
    }
}


/*
transform: scale(0.5);
*/