.progress__container{
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    /* background-color: transparent; */
    /* padding: 2rem; */
    /* border-radius: 0.5rem; */
    /* border: 1px solid bslack; */
}

.progress__label{
    color: gold;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}

progress:not([value]) {
    /* Styling here */
 }

 progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;
  width: 20rem;
  height: 2rem;
  }

progress[value]::-webkit-progress-value {
    background-image:
         -webkit-linear-gradient(-45deg, 
                                 transparent 33%, rgba(0, 0, 0, .1) 33%, 
                                 rgba(0,0, 0, .1) 66%, transparent 66%),
         -webkit-linear-gradient(top, 
                                 rgba(255, 255, 255, .25), 
                                 rgba(0, 0, 0, .25)),
         -webkit-linear-gradient(left,lightgreen, green);
      border-radius: 1rem; 
    }

