body {
    background-color: beige;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.canvas_aera {
    position: relative;
    height: 100%;
    width: 720px;
    height: 480px;
}

canvas {
    position: relative;
    background-color: black;
    display: block;
    z-index: 1;
}

.screen_images {
    opacity: 0.7;
    width: 32px;
    height: 32px;
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 2;
}

.screen_images:hover {
    opacity: 1;
    transform: scale(1.1);
}

.btn_container {
    display: flex;
    justify-content: space-evenly;
    border: 1px black solid;
}

.btn {
    border: black 1px solid;
    background-color: lightgray;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    h1 {
        display: none;
    }
    canvas {
        height: 100vh;
    }
}